.logo-line {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  img {
    background: white;
    cursor: pointer;
    padding-inline: 3%;
    padding-block: 3%;
  }
}

@media (min-width: 1024px) {
  .logo-line {
    background: white;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-block: 0.8%;
    img {
      background: white;
      padding-inline: 20px;
      padding-block: 20px;
      cursor: pointer;
    }
  }
}
