.swiper-container {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  z-index: 0;
  padding-block: 2%;
  margin-block: 1%;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 15px;
      background: white;
      cursor: pointer;
    }
  }
}

@media (min-width: 1024px) {
  .logo-line {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-block: 0.8%;
    img {
      background: white;
      padding-inline: 20px;
      padding-block: 20px;
      cursor: pointer;
    }
  }
}
