main {
  width: 100%;
  background: #ebebeb;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  div {
    width: 100%;
  }
  .advertise {
    height: 60px;
    border: 1px solid white;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul {
      background: white;
      width: 48%;
      margin-top: 1%;
      list-style-type: none;
      margin: 0 0 3px 0;
      padding: 0;
      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ebebeb;
        padding-inline: 10px;
        padding-block: 5px;
        h3 {
          font-size: 16px;
          font-weight: 800;
        }
        a {
          font-size: 12px;
          font-weight: 800;
          color: #757575;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    width: 80%;
  }
}
