@import "./header.scss";
@import "./section.scss";
@import "./main.scss";
@import "./yugiyu.scss";
@import "./logo-line.scss";
@import "./modal.scss";
@import "./mobile-menu.scss";

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}
body {
  background: #ebebeb;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow: scroll;
}
